<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        <%- include('../partials/headerAll.ejs'); %>
    </head>
    <body class="guest ar">
        <%- include('../moduls/main_navbar.ejs'); %>
        <%- include('../moduls/resetpassword.ejs'); %>
        <%- include('../partials/footerUserAll.ejs'); %>
        <%- include('../partials/footerAll.ejs'); %>
        <%- include('../partials/footerUser.ejs'); %>
    </body>
</html>
