<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        <%- include('../partials/headerAll.ejs'); %>
    </head>
    <body class="guest ar">
        <%- include('../moduls/main_navbar.ejs'); %>
        <%- include('../moduls/resetpasswordUpdate.ejs'); %>
        <%- include('../partials/footerUserAll.ejs'); %>
        <%- include('../partials/footerAll.ejs'); %>
       
        <%- include('../partials/footerUser.ejs'); %>
        <script>
            $('#reset_password').click(function() {
                var new_password = $('#new_password').val();
                if(!new_password) {
                    $('#update_password_issues').text('حقل ضروري');
                    return
                } else if(new_password.length < 8) {
                    $('#update_password_issues').text('أدخل كلمة مرور أكثر من 8 أحرف');
                    return
                } else if(new_password.length > 20) {
                    $('#update_password_issues').text('أدخل كلمة مرور أقل من 20 أحرف');
                    return
                }
                var pathName = window.location.pathname;
                pathName = pathName.split('/')[2]
                $.get('https://get.geojs.io/v1/ip/geo.json', function (data) {
                    var settings = {
                        "url": `<%- host %>api/auth/password/changePasswordForget/${pathName}`,
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/json",
                            "Cookie": "Cookie_1=value; auth_token=Bearer%20eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MjdmNmI3Njg3MDQxYzMzMjBhOThiMDAiLCJyb2xlIjozLCJpYXQiOjE2NTI5MTQwMzYsImV4cCI6MjUxNjgyNzYzNn0.vr90kGWKjZC4ycTs_uLaxvZ_QVGpOoly9wmuQOB8VW0"
                        },
                        "data": JSON.stringify({
                            "password": new_password,
                            "ip": data.ip,
                            "country": data.country,
                        }),
                    };
                    $.ajax(settings).done(function (response) {
                        window.location.href = '/'
                    });
                })
            })
        </script>
    </body>
</html>
