
   <footer>
    <div class="footer-top">
       <div class="container">
          <div class="row">
             <div class="col-md-6">
                   <div style="width: 260px;">
 
                <img class="footer-logo" style="width: 100%; height: 100%; "  src="<%- host %>style/images/logo.png" alt="almashahir1" title="almashahir1">
 </div>
                <p><%- mainTitle %>، هي المنصة الارخص والاسرع لجميع خدمات التسويق الالكتروني وزيادة المتابعين التي تخدم العملاء من جميع انحاء العالم.</p>
             </div>
             <div class="col-md-3">
                <h4 class="widget-title">روابط سريعة</h4>
                <ul class="footer-nav">
                   <li><a href="<%- host %>api">API</a></li>
                   <li><a href="<%- host %>howitworks">كيفية الاستخدام</a></li>
                   <li><a href="<%- host %>faqs">الاسئلة الشائعة</a></li>
                   <li><a href="<%- host %>terms">الشروط و الأحكام</a></li>
                   <!-- <li><a href="<%- host %>blog">المدونة</a></li> -->
                </ul>
             </div>
             <div class="col-md-3">
                <h4 class="widget-title">تواصل معنا</h4>
                <p><strong>البريد الاكتروني</strong>: <a href="mailto:info@almashahir1.com">info@almashahir1.com</a></p>
                <!--<p><strong>رقم الهاتف</strong>: <a href="tel:791069543 962+">962797526178+</a></p>-->
                <ul class="follow-us">
                   <li><a href="https://api.whatsapp.com/send/?phone=962797526178" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                   <li><a href="https://instagram.com/al_mashahir1" target="_blank"><i class="fab fa-instagram"></i></a></li>
                   <li><a href="https://t.me/FF0WW" target="_blank"><i class="fab fa-telegram"></i></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-md-12 text-center">
                <p class="copyright-text">حقوق النشر © 2019-2022 <%- mainTitle %>. جميع الحقوق محفوظة </p>
             </div>
          </div>
       </div>
    </div>
 </footer>