<main class="inner-wrap">
  <div class="container-fluid account-page">
      <div class="row">
          <div class="col-sm-8 account-custom">
              <div class="well">
                  <div class="form-group">
                      <label for="username" class="control-label">اسم المستخدم</label>
                      <input type="text" class="form-control" id="username" value="<%- user.user.username %>" readonly />
                  </div>
                  <form class="rtl-form" method="post" action="">
                      <div class="form-group">
                          <label for="new" class="control-label">كلمة السر الجديدة</label>
                          <input type="password" class="form-control" id="new_password" />
                          <div style="height: 25px; color: red; font-size: 12px;" id="update_password_issues"></div>
                      </div>
                      <div class="form-group">
                          <label for="confirm" class="control-label">تأكيد كلمة السر</label>
                          <input type="password" class="form-control" id="confirm_update_password" onkeyup="changePassword(this.value)"/>
                          <div style="height: 25px; color: red; font-size: 12px;" id="confirm_update_password_issues"></div>
                      </div>
                      <div id="update_password_issues_all" style="margin-top: 11px; color: #1a2238;"></div>
                      <button type="button" class="btn btn-primary update-password" id="update_password">تغيير كلمة المرور</button>
                  </form>
              </div>

              <div class="well">
                  <form class="rtl-form" action="/" method="post">
                      <div class="form-group">
                          <label for="key" class="control-label">API key</label>
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-alternate" id="key_api_update">توليد مفتاح جديد للحساب</button>
                              </span>
                          </div>
                          <div id="key_api_update_messags" style="margin-top: 11px; color: #1a2238;"></div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-sm-4">
              <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="javascript: void(0);">المعلومات الشخصية</a></li>
              </ul>
              <div class="well">
                  <div class="prof-pic">
                    <% if(user.gender == 1) { %>
                      <img src="<%- host %>style/images/woman.png" alt="gender icon" class="gender_img" />                   
                    <% } else { %>
                      <img src="<%- host %>style/images/male.png" alt="gender icon" class="gender_img" />                   
                    <% } %>
                  </div>

                  <h4 class="fullname"><%- user.user.full_name %></h4>
                  <h5 class="username">
                      <button type="button" class="btn btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="top" data-copy="<%- user.user.email %>" title="نسخ إلى الحافظة"><%- user.user.email %></button>
                  </h5>
                  <div class="radio-div clearfix">
                    <% if(user.gender == 1) { %>
                      <input type="radio" name="gender" id="male" value="male"/>
                      <label for="male">
                          <span><i class="fas fa-mars"></i></span>ذكر
                      </label>
                      <input type="radio" name="gender" id="female" value="female" checked/>
                      <label for="female">
                          <span><i class="fas fa-venus"></i></span>أنثى
                      </label>                  
                    <% } else { %>
                      <input type="radio" name="gender" id="male" value="male" checked/>
                      <label for="male">
                          <span><i class="fas fa-mars"></i></span>ذكر
                      </label>
                      <input type="radio" name="gender" id="female" value="female" />
                      <label for="female">
                          <span><i class="fas fa-venus"></i></span>أنثى
                      </label>                 
                    <% } %>

                      
                  </div>
                  <!--<h3 class="userlevel">
                      جديد
                  </h3>-->
              </div>
          </div>
      </div>
  </div>

</main>
