<main class="inner-wrap">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
             <p class="breadcrumbs">أنت الآن على: <strong>التسويق بالعمولة</strong></p>
          </div>
          <div class="col-sm-4"></div>
       </div>
       <div class="row give-row">
          <div class="col-sm-6">
             <div class="affiliate-box">
                <h2 class="affi-title text-center"> التسويق بالعمولة </h2>
                <h4 style="font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; margin-top: 9px; margin-bottom: 9px; font-size: 16.25px;" align="center"><b style=""><font color="#ff9c00">ما فائدة التسويق بالعمولة ؟</font></b></h4>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
                  التسويق بالعمولة هي طريقة رائعة لك كفرد لتحقيق المال 
 
               </p>
 <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
                  ولست بحاجة الى اي رأس مال او شراء اي شيء للبدء

 
               </p>
               <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">

او تقديم طلب للقبول  للبدء في جني الأرباح
 
               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
يمكنك البدء من هذة اللحظة!  24 ساعة في اليوم، 365 يوم في السنة أي حتى وأنت نائم!!

 
               </p>

               <h4 style="font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; margin-top: 9px; margin-bottom: 9px; font-size: 16.25px;" align="center"><b style=""><font color="#ff9c00">كيف يمكنني البدء في جني الأرباح؟</font></b></h4>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
 أنت لست في حاجة إلى شيء سوى البدء بنشر رابط الاحالة الخاص بك في الأسفل 

               </p>
               <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
 
 والبدء بنشر مواضيع تتكلم عن خدماتنا مثلا او نشرة بين اصدقائك او انشاء محتوى فالتيك توك لموقعنا او ان تشرحة في الستوري الخاص بك في الأنستقرام او الفيس بوك… او فيديو في اليوتيوب


               </p>

                 <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
وأي شخص يدخل عبر الرابط الخاص بك ويستخدم الموقع سوف تحصل على 5% من الرصيد الذي يضيفة 

               </p>

                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">

لنفترض ان 500 شخص دخلو عن طرق رابط الأحالة الخاص بك بالشهر

               </p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


وكل شخص قام بشحن رصيدة بمبلغ 30$ ومن الممكن اكثر!

               </p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;">
عملية حسابية سريعة :



               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


شخص = الذين دخلو عن طريق رابط الأحالة الخاص بك. 

               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">

$ = الرصيد الذي أضافة الشخص. 


               </p>

                 <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


شخص500×30$=15000$

               </p>

                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


5% عمولتك = 1500$

               </p>

                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


يعني ربح 1500$ ومن الممكن اكثر اذا اجتهدت!

               </p>
                 <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


كل شيء سيكون موضح بلأسفل , عدد تسجيل الدخول, كم ربحت الخ..

               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">


تنوية :

               </p>

                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">

الحد الأدنى لسحب الرصيد :


               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">
50$ للبنك الخاص بك



               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">

10$ اضافة رصيد داخل الموقع


               </p>
                  <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">

يمكننا تحويل المبلغ الى اي حساب بنكي من جميع انحاء العالم او اي محفظة رقمية.


               </p>

                <!-- <h2 class="affi-title text-center">AFFILIATE</h2>
                <h4 style="font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; margin-top: 9px; margin-bottom: 9px; font-size: 16.25px;" align="center"><b style=""><font color="#ff9c00">لماذا تبدأ بالتسويق لنا مقابل العمولة Affiliate Marketing؟</font></b></h4>
                <h4 style="font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; margin-top: 9px; margin-bottom: 9px; font-size: 16.25px;" align="center"><b style="color: inherit;"><br></b><br></h4>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">التسويق بالعمولة Affiliate Marketing يعتبر وسيلة رائعة لك كفرد لتحقيق المال، هنا بعض الأسباب التي توضح هذا المفهوم:-</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">أنت لست بحاجة إلى اي مبلغ من المال لكي تبدأ في التسويق بالعمولة Affiliate Marketing.</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">أنت لست بحاجة إلى شراء اي شيء.</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">أنت لست بحاجة إلى عقد الصفقات أو إنهاء المبيعات مع العملاء.</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">أنت لست في حاجة إلى شيء سوى البدء بنشر رابط الاحالة الخاص بك لتبدا بجني الارباح</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">يمكنك العمل وجني الأموال في أي وقت، 24 ساعة في اليوم، 365 يوم في السنة (أي حتى وأنت نائم!!).</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center"><br></p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">فقط كل ماعليك هو نسخ رابط الاحالة الخاص بك والبدء بنشر مواضيع تتكلم عن خدماتنا مثلا او فيديو على يوتيوب يوضح طريقة استخدام الموقع</p>
                <p style="margin-bottom: 9px; font-family: &quot;Noto Kufi Arabic&quot;, sans-serif; font-size: 13px;" align="center">مع وضع رابط الاحالة الخاص بك، ووقتها اي شخص يقوم بتسجيل عضوية ويستخدم الموقع ستحصل على عمولة مقابل ذلك.</p>
                <br>
                <p style="margin-bottom: 9px; font-family: 'Noto Kufi Arabic', sans-serif; font-size: 13px;text-align:center;"><b>ملاحظات</b> :<br>
                   - السحب يتم تلقائيا عند رفع طلب سحب بعد وصولك الى 10 دولار او اكثر<br>
                   - السحب حاليا متاح كرصيد بالموقع فقط
                </p> -->
             </div>
          </div>
          <div class="col-sm-6">
             <div class="affiliate-box">
                <h2 class="affi-title text-center">حالة التسويق</h2>
                <h3 class="affi-sub-title">رابط الإحالة:<span class="aff-link"><a type="button" class="api-copy btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" data-copy="<%- host %>ref/<%- affiliate %>" title="نسخ إلى الحافظة"><i class="fas fa-copy"></i></a>&nbsp;<a href="javascript:void(0);"><%- host %>ref/<%- affiliate %></a></span></h3>
                <div class="rate-wrap">
                   <div class="left-rate">
                      <div class="rate-val">0.00%</div>
                      <div class="rate-title">معدل التحويل</div>
                   </div>
                   <div class="right-rate">
                      <div class="rate-val">5%</div>
                      <div class="rate-title">نسبة العمولة</div>
                   </div>
                </div>
                <ul class="stats-timeline">
                   <li class="timline-misc-1"></li>
                   <li>إجمالي الزيارات<span class="stats-time-right"><%- user.visits %></span></li>
                   <li>الحد الادنى للسحب<span class="stats-time-right">$10.00</span></li>
                   <li>الدعوات الناجحة<span class="stats-time-right"><%- user.affiliateSuccessful %></span></li>
                   <li>المسجلين<span class="stats-time-right"><%- user.affiliateRegistration %></span></li>
                   <li>الأرباح الكلية<span class="stats-time-right">$<%- user.earnMoney.balance %></span></li>
                   <li>أرباح غير مدفوعة<span class="stats-time-right">$<%- user.earnMoney.all %></span></li>
                </ul>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
          </div>
       </div>
    </div>
 </main>