<main class="inner-wrap">
   <div class="container-fluid">
       <div class="row">
           <div class="col-sm-4"></div>
           <div class="col-sm-4">
               <p class="breadcrumbs">أنت الآن على: <strong>متجر الكتروني</strong></p>
           </div>
           <div class="col-sm-4"></div>
       </div>
       <div class="row">
           <div class="col-md-6">
               <ul class="nav nav-tabs" role="tablist">
                   <li class="active"><a style="cursor: pointer;" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">طلب متجر</a></li>
                   <li><a style="cursor: pointer;" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Nameservers</a></li>
                   <li><a style="cursor: pointer;" href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">حالة المتجر</a></li>
               </ul>
               <div class="well">
                   <div class="tab-content">
                       <div role="tabpanel" class="tab-pane active" id="tab-1">
                           <form>
                               <div class="form-group">
                                   <label for="domain" class="control-label">الدومين</label>
                                   <div class="chl-grp input-group">
                                       <span class="input-group-addon">www.</span>
                                       <input type="text" class="form-control" id="domain" value="" />
                                       <span class="input-group-addon">السعر لكل شهر $10.00</span>
                                   </div>
                                   <label class="issues domain_issues" for="createorderform-password_confirm"></label>
                               </div>
                               <div class="form-group">
                                   <label class="control-label" for="createorderform-currency">العملة</label>
                                   <select id="createorderform-currency" class="form-control" aria-required="true">
                                       <option value="USD">
                                           United States Dollars (USD)
                                       </option>
                                       <option value="RUB">
                                           Russian Rubles (RUB)
                                       </option>
                                       <option value="THB">
                                           Thai Baht (THB)
                                       </option>
                                       <option value="TRY">
                                           Turkish Lira (TRY)
                                       </option>
                                       <option value="EUR">
                                           Euro (EUR)
                                       </option>
                                       <option value="IDR">
                                           Indonesian Rupiah (IDR)
                                       </option>
                                       <option value="BRL">
                                           Brazilian Real (BRL)
                                       </option>
                                       <option value="CNY">
                                           Chinese Yuan (CNY)
                                       </option>
                                       <option value="KRW">
                                           South Korean Won (KRW)
                                       </option>
                                       <option value="INR">
                                           Indian Rupee (INR)
                                       </option>
                                       <option value="IRR">
                                           Iranian Rial (IRR)
                                       </option>
                                       <option value="SAR">
                                           Saudi Arabia Riyal (SAR)
                                       </option>
                                       <option value="PLN">
                                           Polish złoty (PLN)
                                       </option>
                                       <option value="MYR">
                                           Malaysian Ringgit (MYR)
                                       </option>
                                       <option value="GBP">
                                           Pound sterling (GBP)
                                       </option>
                                       <option value="KWD">
                                           Kuwaiti dinar (KWD)
                                       </option>
                                       <option value="SEK">
                                           Swedish krona (SEK)
                                       </option>
                                       <option value="ILS">
                                           Israeli shekel (ILS)
                                       </option>
                                       <option value="HKD">
                                           Hong Kong dollar (HKD)
                                       </option>
                                       <option value="NGN">
                                           Nigerian naira (NGN)
                                       </option>
                                       <option value="KES">
                                           Kenyan shilling (KES)
                                       </option>
                                       <option value="JPY">
                                           Japanese Yen (JPY)
                                       </option>
                                       <option value="ARS">
                                           Argentine peso (ARS)
                                       </option>
                                       <option value="VND">
                                           Vietnamese đồng (VND)
                                       </option>
                                       <option value="CAD">
                                           Canadian dollar (CAD)
                                       </option>
                                       <option value="IQD">
                                           Iraqi dinar (IQD)
                                       </option>
                                       <option value="TWD">
                                           New Taiwan Dollars (TWD)
                                       </option>
                                       <option value="AZN">
                                           Azerbaijani manat (AZN)
                                       </option>
                                       <option value="BYN">
                                           Belarusian ruble (BYN)
                                       </option>
                                       <option value="KZT">
                                           Kazakhstani tenge (KZT)
                                       </option>
                                       <option value="UAH">
                                           Ukrainian hryvnia (UAH)
                                       </option>
                                       <option value="RON">
                                           Romanian leu (RON)
                                       </option>
                                       <option value="AED">
                                           United Arab Emirates dirham (AED)
                                       </option>
                                       <option value="COP">
                                           Colombian peso (COP)
                                       </option>
                                       <option value="PKR">
                                           Pakistan Rupee (PKR)
                                       </option>
                                       <option value="EGP">
                                           Egyptian Pound (EGP)
                                       </option>
                                   </select>
                               </div>
                               <div class="form-group">
                                   <label class="control-label" for="createorderform-username">اسم المستخدم للادمن</label>
                                   <input type="text" id="createorderform-username" class="form-control" aria-required="true" value="" />
                                   <label class="issues username_issues" for="createorderform-password_confirm"></label>
                               </div>
                               <div class="form-group">
                                   <label class="control-label" for="createorderform-password">كلمة السر للادمن</label>
                                   <input type="password" id="createorderform-password" class="form-control" aria-required="true" />
                                   <label class="issues password_issues" for="createorderform-password_confirm"></label>
                               </div>
                               <div class="form-group">
                                   <label class="control-label" for="createorderform-password_confirm">تاكيد كلمة السر</label>
                                   <input type="password" id="createorderform-password_confirm" class="form-control" aria-required="true" />
                                   <label class="issues confime_password_issues" for="createorderform-password_confirm"></label>
                               
                                </div>
                               

                               <button type="button" class="btn btn-primary confirme_request">تاكيد الطلب</button>
                           </form>
                       </div>
                       <div role="tabpanel" class="tab-pane" id="tab-2">
                           <div class="alert alert-success">
                               <div>يرجى تغيير ال "نيم سيرفرز" الى :</div>
                               <ul style="padding-left: 20px;">
                                   <li>ns1.perfectdns.com</li>
                                   <li>ns2.perfectdns.com</li>
                               </ul>
                           </div>
                           <div class="tutorial-slider">
                               <a class="slider-outline" style="justify-content: center; text-decoration: none; display: flex; cursor: pointer;" target="_blank" href="https://almashahir1.com">almashahir1.com</a>
                               <a class="slider-outline" style="justify-content: center; text-decoration: none; display: flex; cursor: pointer;" target="_blank" href="https://domain.com">domain.com</a>
                               <a class="slider-outline" style="justify-content: center; text-decoration: none; display: flex; cursor: pointer;" target="_blank" href="https://namecheap.com">namecheap.com</a>
                               <a class="slider-outline" style="justify-content: center; text-decoration: none; display: flex; cursor: pointer;" target="_blank" href="https://godaddy.com">godaddy.com</a>
                           </div>
                       </div>
                       <div role="tabpanel" class="tab-pane" id="tab-3">
                        <% for(var i = 0; i < requestChildPanels.length; i++) { %>
                           <div class="child_panel">
                                <label for="status"><strong>حالة المتجر: </strong><span style="color: red;"><%= requestChildPanels[i].status === true ? 'يعمل' : 'موقف مؤقتا' %></span></label>
                                <br/>
                                <label for="requestChildPanel"><strong> رقم الطلب: </strong><span style="color: red;"><%- requestChildPanels[i].requestChildPanel + 322 %></span></label>
                                <br/>
                                <label for="domain"><strong> الدومين: </strong><span style="color: red;"><%- requestChildPanels[i].domain %></span></label>
                                <br/>
                                <label for="username"><strong> اسم المستخدم: </strong><span style="color: red;"><%- requestChildPanels[i].username %></span></label>
                                <br/>
                                <label for="createAt"><strong> تاريخ الانشاء: </strong><span style="color: red;"><%- requestChildPanels[i].createAt %></span></label>
                                <br/>
                                <label for="updateAt"><strong> أخر تحديث: </strong><span style="color: red;"><%- requestChildPanels[i].updateAt %></span></label>
                                <hr style="color: #F4DB7D">
                           </div>
                        <% } %>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-6">
               <ul class="nav nav-tabs" role="tablist">
                   <li class="active"><a href="javascript: void(0);">معلومات عن المتجر</a></li>
               </ul>
               <div class="well">
                   <p>عملاء الموقع الكرام</p>
                   <p>
                       هذه الصفحة مخصصة لطلب متجر الكتروني مثل موقعنا ومربوط بجميع خدماتنا فكرة مربحة وغير معروفة ونادرة! ضع سمعتك التجارية قبل فوات الأوان وانتشارها. نحن نوفر لك لوحة وموقع خاص بك .مطابق تماما لموقعنا من ناحية المميزات
                       والاضافات وطبعا يعمل بشكل الي وتلقائي
                   </p>
               </div>
               <div class="add-funds-content">
                   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingStripe">
                               <h4 class="panel-title">
                                   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseStripe" aria-expanded="true" aria-controls="collapseStripe" class="">
                                       الفكرة العامة
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseStripe" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingStripe" aria-expanded="true" style="">
                               <div class="panel-body">
                                   <p>بطبيعة الحال انت ستقوم بشراء الخدمات من موقعنا بشكل تلقائي عن طريق ربط الموقعين ببعضهم البعض , وتبيع لعميلك بسعر اعلى اما بالنسبة للتصميم يمكنك تعديله بشكل سهل من صفحة الادمن الخاصة بك بدون برمجة.</p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingtac">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetac" aria-expanded="false" aria-controls="collapsetac">
                                       الشروط والاحكام
                                   </a>
                               </h4>
                           </div>
                           <div id="collapsetac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingtac" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <p>عند شراء المتجر منا فانك توافق على جميع هذه الامور دون اي استثناء :</p>
                                   <ol>
                                       <li>لا يمكن تحويل الدومين الخاص بك لاي موقع اخر نهائيا بعد الشراء ولكن يمكنك تغير ال نيم سيرفرز واستعماله باي شيء اخر.</li>
                                       <li>لا يمكن ربط خدمات من متجر اخر , حيث ربط الخدمات بشكل تلقائي يكونو مع متجرنا فقط واذا اردت الربط مع متجر اخر يكون التنفيذ يدوي من طرفك وليس عن طريق ال API.</li>
                                       <li>سعر الاشتراك الشهري ممكن ان يتغير من وقت لاخر سواء نقصان او رفع ولكننا نسعى دائما لتزويدكم بالخدمة بارخص الاسعار.</li>
                                       <li>طرق الدفع موجودة برمجيا على متجرك ولكن : يجب ان يكون لديك حساب فعال ب مواقع استقبال الدفع حتى تربطها ب متجرك وهذه الامور ليس لنا علاقة بها وليس لنا علاقة باي موقع للدفع او القبول والرفض منه.</li>
                                   </ol>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingFAQ">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQ" aria-expanded="false" aria-controls="collapseFAQ">الاسئلة الشائعة</a>
                               </h4>
                           </div>
                           <div id="collapseFAQ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFAQ" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <p>
                                       1 - كيف يمكنني الحصول على ارباح المتجر؟<br />
                                       <strong>الجواب:</strong>
                                       موقعك وموقعنا منفصلان عن بعضهم البعض بهذه الامور, حيث ان العميل الخاص بك يقوم بالشحن لديك بالطرق التي تفعلها ويشتري منك على السعر الذي تضعه وانت بنفس الوقت ستشحن بموقعنا عن طريقة يوزرك بالطرق الموجودة
                                       لدينا وتشتري منا على سعرنا تلقائيا دون اي تدخل منك.
                                   </p>
                                   <p>
                                       2-كيف يمكنني تفعيل الدفع عبر الفيزا والماستر كارد/مدى/ابل باي على متجري؟<br />
                                       <strong>الجواب:</strong>
                                       العديد من مواقع استقبال دفعات الفيزا والماستر كارد موجودة على متجرك برمجيا ولكن يجب ان يكون لديك حساب مفعل لديهم على موقعهم لكي تستطيع استخدام هذه الخدمة.
                                   </p>
                                   <p>
                                       3- هل يمكنني اختيار عملة الموقع؟<br />
                                       <strong>الجواب:</strong>
                                       نعم, يمكنك اختيار عملة من بين العديد من العملات المتوفرة ولكن لن تظهر لك كل طرق الدفع لتفعيلها بمتجرك اذا تم اختيار اي عملة غير الدولار فهي اللغة الرئيسية والاكثر استخداما.
                                       <br />
                                       <strong>ملاحظة :</strong> اذا قمت بطلب المتجر بعملة معينة وبعد ذلك اردت تغيرها فيمكننا تغيرها من اجلك ويرجى فتح تذكرة بهذا الخصوص من صفحة : الدعم الفني.
                                   </p>
                                   <p>
                                       4- هل ال 7.99 دولار كاشتراك شهري شاملة الدومين ؟<br />
                                       <strong>الجواب:</strong>لا, فيجب عليك طلب الدومين من طرفك سواء من موقعنا او من موقع لبيع الدومينات .<br />
                                       <strong>ملاحظة :</strong> فقط نحتاج دومين بدون اي شيء اخر مثل : استضافة من طرفنا
                                   </p>
                                   <p>
                                       5- هل يمكنني تغير الدومين بعد طلب المتجر؟<br />
                                       <strong>الجواب: </strong>نعم يمكنك ذلك, يرجى فتح رسالة من صفحة الدعم الفني لهذا الخصوص
                                   </p>
                                   <p>
                                       6- هل يمكنني الحصول على اي تخفيضات عند شراء المتجر؟<br />
                                       <strong>الجواب: </strong> بالطبع توجد تخفيضات للمواقع + للجميع على حسب مستوى الحساب
                                   </p>
                                   <p>
                                       7- ماذا لو اردت التوقف عن استخدام المتجر او الغائه ؟<br />
                                       <strong>الجواب:</strong> يمكنك عدم التجديد للموقع او التوقف عن استخدامه باي وقت فنحن لا نقوم باستقطاع الرصيد تلقائيا وانما يجب ان يتم بشكل يدوي من طرفك عن طريق صفحة : متجر الكتروني - حالة المتجر.
                                   </p>
                                   <p>
                                       8- هل يمكنني الحصول على نفس تصميم موقعكم ALMASHAHIR1 ؟<br />
                                       <strong>الجواب: </strong> لا يمكن ذلك لدينا تصاميم اخرى.
                                   </p>
                                   <p>
                                       9- ماذا سيحصل اذا انتهى الاشتراك ولم اقم بتجديد المتجر؟<br />
                                       <strong>الجواب: </strong>
                                       سيتم توقف المتجر تلقائيا اذا لم يتم التجديد بالوقت المحدد ولن يمكن سواء لك او لعملائك الدخول للموقع. وسوف يتم تفعيلة عند التجديد
                                       <br />
                                       <strong>ملاحظة:</strong>نحن دائما نرسل تذكير على الايميل المرتبط بحسابك على موقعنا بالتجديد قبل انتهاء الاشتراك ب 7 ايام.
                                   </p>
                                   <p>
                                       10- هل لديكم اشتراك سنوي او مدى الحياة؟<br />
                                       <strong>الجواب: </strong>

                                       سنويا : 75$ مدى الحياة : 400$
                                   </p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingPaypal">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePaypal" aria-expanded="false" aria-controls="collapsePaypal">
                                       الالية
                                   </a>
                               </h4>
                           </div>
                           <div id="collapsePaypal" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPaypal" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <p>عندما يقوم العميل الخاص بك بالشراء من موقعك فانك تلقائيا تقوم بشراء نفس الخدمة التي طلبها منك من موقعنا باليوزر المسجل لدينا فجميع الامور تتم بشكل تلقائي دون اي تدخل منك</p>
                                   <p>API -حيث يتم ربط الموقعين عن طريق ال</p>
                                   <p>تقوم بنسخ الكود الموجود بحسابك هنا على موقعنا ووضعه بخانة المزودين بالموقع الخاص بك</p>
                                   <p>ثم بعد ذلك الامور جميعها ستكون تلقائية.</p>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingApplePay">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseApplePay" aria-expanded="false" aria-controls="collapseApplePay">
                                       الميزات
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseApplePay" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingApplePay" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <ol>
                                       <li>موقع مبرمج بشكل كامل وجاهز للاستخدام فورا</li>
                                       <li>يمكنك اضافة وحذف وتعديل جميع الخدمات التي بموقعنا وطبعا مع تغيير اسعارها</li>
                                       <!-- <li>الموقع يتوفر به عدة قوالب بدون تصميم يمكنك الاختيار منها</li> -->
                                       <li>جميع اللغات متوفرة</li>
                                       <li>تقريبا جميع طرق الدفع متوفرة برمجيا <b>ولكن</b> يجب ان يكون لديك حساب مفعل بهذه المواقع للربط : بايبال , فيزا وماستر كارد , سكريل , بيرفت موني , ويب موني .... الخ</li>
                                       <li>سيتم اعطائك ايضا لوحة تحكم خاصة للادمن لمتابعه الطلبات والمدفوعات واجراء اي تعديلات على الموقع والرد على التذاكر وغيرها</li>
                                       <li>امكانية التعديل على يوزر عميل معين من حيث الاسعار وامكانية الشحن والحظر وغيرها</li>
                                       <li>يمكنك اضافة اكثر من يوزر بالموقع للدخول الى صفحة التحكم في حال كان لديك موظفين</li>
                                       <li>صفحات متعددة بواجهة الموقع الرئيسية مع امكانية حذف واضافة اي صفحة جديدة</li>
                                       <li>يمكنك اضافة خدمات بعدد لا نهائي</li>
                                       <li>يمكنك لعملائك وضع طلبات بعدد لا نهائي بالموقع الخاص بك</li>
                                       <li>جميع ميزات الحساب متوفرة : من تعديل كلمة السر واي اعدادات اخرى</li>
                                       <li>يمكنك التحكم بالطلبات بشكل يدوي ايضا اذا استدعت الحاجة لذلك</li>
                                       <li>صفحة خاصة بالاحصائيات والطلبات والمبالغ والتذاكر مع نظام فلترة</li>
                                       <li>الموقع امن 100 % وخالي من جميع الثغرات والمشاكل بالبرمجة</li>
                                   </ol>
                                   <p>هذه ليست كل الميزات طبعا وايضا يوجد الكثير منها ستكتشفها اثناء استخادمك للموقع</p>
                               </div>
                           </div>
                       </div>
                       <!-- <div class="panel panel-default">
                     <div class="panel-heading" role="tab" id="headingDiscounts">
                       <h4 class="panel-title">
                         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDiscounts" aria-expanded="false" aria-controls="collapseDiscounts">
                         تخفيضات
                         </a>
                       </h4>
                     </div>
                     <div id="collapseDiscounts" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDiscounts" aria-expanded="false" style="height: 0px;">
                       <div class="panel-body">
                       <p>سوف تحصل على خصم 5% على 5 خدمات من اختيارك عندما تطلب المتجر بالوقت الحالي.</p>
                     </div>
                     </div>
                     </div> -->
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingCoinBase">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCoinBase" aria-expanded="false" aria-controls="collapseCoinBase">
                                       السعر
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseCoinBase" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCoinBase" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <p>للحصول على الموقع يجب الاشتراك بشكل شهري</p>
                                   <p>8.99 دولار شهريا</p>
                                   <p>لشراء دومين استخدم أحد المواقع الخارجية او تواصل مع الدعم الفني لدينا خدمة شراء الدومينات.</p>
                                   <!-- <a href="https://godaddy.com">GoDaddy.com</a> -->
                                   <p>خدمة الدومينات لدينا أحسن سعر في السوق:7$</p>
                                   <p>مثال:</p>
                                   <a href="www.test.com">test.com</a>
                                   <br />
                                   <a href="www.test.com.uk">test.com.uk</a>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingWebmoney">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWebmoney" aria-expanded="false" aria-controls="collapseWebmoney">
                                       كيفية الطلب
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseWebmoney" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingWebmoney" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <ul>
                                       <li>- في خانة الدومين : ضع الدومين الخاص بك او الذي تم شرائه منا</li>
                                       <li>- في خانة العملة : ضع العملة التي تريد ان تكون اسعار الموقع الخاص بك بها ويفضل ان تكون العملة بالدولار فهي اسهل بالتعامل</li>
                                       <li>- في خانة اسم المستخدم الخاص بالادمن : ضع يوزر معين حيث ستقوم باستخدامه للدخول الى صفحة الادمن الخاصة لك لتتبع جميع اعدادات الموقع</li>
                                       <li>- في خانة كلمة السر : ضع كلمة سر للدخول الى صفحة الادمن واجعلها قوية للحماية ثم اكدها بالخانة التي تحتها</li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading" role="tab" id="headingPayeer">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePayeer" aria-expanded="false" aria-controls="collapsePayeer">
                                       كم مدة التركيب والتسليم
                                   </a>
                               </h4>
                           </div>
                           <div id="collapsePayeer" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayeer" aria-expanded="false" style="height: 0px;">
                               <div class="panel-body">
                                   <ul>
                                       <li>- يتم تسليمك الموقع خلال 12-24 ساعة بحد اقصى</li>
                                       <li>- وطبعا ممكن تسليمه بوقت اقصر حسب الضغط على الدعم بالموقع</li>
                                       <li>- اذا واجهت اي استفسار اخر لا تتردد في مراسلتنا على التذاكر</li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</main>
