<main class="inner-wrap">
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-4"></div>
         <div class="col-sm-4">
            <p class="breadcrumbs">ุฃูุช ุงูุขู ุนูู: <strong>ุงูุงุณุฆูุฉ ุงูุดุงุฆุนุฉ</strong></p>
         </div>
         <div class="col-sm-4"></div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="row  rtl-content ">
            <div class="col-sm-4">
               <img  class="" style="width: 90%;"  src="<%- host %>style/images/Questions-bro.svg" /></div>

               <div class="col-sm-8">
                  <ul class="nav nav-tabs faq-tabs faq-tabs-custom " id="ques_list"  role="tablist">

                           <% for(var i = 0; i < faqs.length; i++) { %>
     <li role="presentation" class="questions-page"  id="faqs_<%- i %>" data='<%- JSON.stringify(faqs[i]) %>'
      > 
        <a href="#faq2" aria-controls="faq2" role="tab" data-toggle="tab" aria-expanded="false"
         data-answer="<%- faqs[i].answer %>" data-question="<%- faqs[i].question %>"
         onclick="getAnwer(this)"
         > 
           <%- faqs[i].question %>
         </a>
        <div style="background-color: white; border-radius: 100%; transform: translateX(-25px); z-index: 1;" >
               <img   class="" style="width: 90%; height: 90%;"   src="<%- host %>style/images/doubts-button.png" />
            </div>

       
         </li>

          <% } %>
                     <!-- <li role="presentation" class="active"> <a href="#faq1" aria-controls="faq1" role="tab" data-toggle="tab" aria-expanded="true"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูุง ูุนูู ุงู ุงูุทูุจ ููุชูู ุฌุฒุฆูุง ุ</a></li>
                     <li role="presentation" class=""> <a href="#faq2" aria-controls="faq2" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูุง ูุนูู ุชุฌุฒุฆุฉ ุงูุชูููุฐ ุ</a></li>
                     <li role="presentation"> <a href="#faq3" aria-controls="faq3" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ููู ุงุณุชุฎุฏู ุฎุงุตูุฉ ุงูุทูุจุงุช ุงูุฌูุงุนูุฉ ุ</a> </li>
                     <li role="presentation"> <a href="#faq4" aria-controls="faq4" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ุงุฑูุฏ ูููุน ูุซู ูููุนูู / ุงุฑูุฏ ุงุนุงุฏุฉ ุจูุน ุฎุฏูุงุชูู ููู ุ</a></li>
                     <li role="presentation"> <a href="#faq5" aria-controls="faq5" role="tab" data-toggle="tab"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ุฒุฑ ุงูุงูุบุงุก / ุฒุฑ ุงูุชุนููุถ ูุง ูุนูู ุ</a></li>
                     <li role="presentation" class=""> <a href="#faq6" aria-controls="faq6" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูู ูููููู ุงูุญุตูู ุนูู ุฎุตู ุ</a></li>
                     <li role="presentation"> <a href="#faq7" aria-controls="faq7" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ููู ูููููู ุงูุดุญู ุชููุงุฆูุง ุนุจุฑ ุจุงูุจุงู ุ</a></li>
                     <li role="presentation"> <a href="#faq8" aria-controls="faq8" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูู ูู ุงููุฏุฉ ุงููุงุฒูุฉ ูุชูููุฐ ุทูุจู ุ</a></li>
                     <li role="presentation"> <a href="#faq9" aria-controls="faq9" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูู ุชูุจููู ุงูุฏูุน ุนุจุฑ ุงูููุฒุง ุ</a></li>
                     <li role="presentation"> <a href="#faq10" aria-controls="faq10" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ููู ูููู ุงูุญุตูู ุนูู ุฑุงุจุท ุชุนููู ูู ููุชููุจ ุ</a> </li>
                     <li role="presentation"> <a href="#faq11" aria-controls="faq11" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูู ุงููุชุงุจุนูู ุญูููู ุงู ูููู ุ</a></li>
                     <li role="presentation"> <a href="#faq12" aria-controls="faq12" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูุง ูู ุฎุฏูุฉ ุงูููุดู ูููู ุชุนูู ุ</a> </li>
                     <li role="presentation"> <a href="#faq13" aria-controls="faq13" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูุง ูู ุงูุทุจุงุนุงุช ุงูุงูุณุชูุฑุงู ุ</a></li>
                     <li role="presentation"> <a href="#faq14" aria-controls="faq14" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูู ุฎุฏูุงุช ุงูุจุซ ุงููุจุงุดุฑ ูู ูุฌุจ ูุถุน ุงููููู ูุจู ุงู ูููู ุงูููุฒุฑ ุจูุชุญ ูุงูู ุงู ุจุนุฏู ุ</a></li>
                     <li role="presentation"> <a href="#faq15" aria-controls="faq15" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูุง ูู ูุธุงู ุชุนููุถ ุงูููุต ุ</a></li>
                     <li role="presentation"> <a href="#faq16" aria-controls="faq16" role="tab" data-toggle="tab" aria-expanded="false"> <span class="faq-icon"> <i class="far fa-question"> </i> </span>ูุง ูู ุฎุฏูุฉ " ุญูุธ ุงูุณุชูุฑุงู " ููุงุฐุง ุชูุนู ุ</a></li>
                  -->
                  </ul>
                  <div class="faq-selector faq-selector-custom input-group visible-xs" style="margin-top: 20px;">
                     <span class="input-group-addon"><i class="far fa-question"></i></span>
                     <select class="form-control " id="tab_selector"   
                     onchange="getAnwerSelect(this.value)">
                           <% for(var i = 0; i < faqs.length; i++) { %>
                              <option value='<%- JSON.stringify(faqs[i]) %>'>
                              <%- faqs[i].question %>
                           </option>
                            <% } %>
                     </select>
                     <!-- <select class="form-control " id="tab_selector">
                        <option value="0">ูุง ูุนูู ุงู ุงูุทูุจ ููุชูู ุฌุฒุฆูุง ุ</option>
                        <option value="1">ูุง ูุนูู ุชุฌุฒุฆุฉ ุงูุชูููุฐ ุ</option>
                        <option value="2">ููู ุงุณุชุฎุฏู ุฎุงุตูุฉ ุงูุทูุจุงุช ุงูุฌูุงุนูุฉ ุ 
                        </option>
                        <option value="3">ุงุฑูุฏ ูููุน ูุซู ูููุนูู / ุงุฑูุฏ ุงุนุงุฏุฉ ุจูุน ุฎุฏูุงุชูู ููู ุ</option>
                        <option value="4"> ุฒุฑ ุงูุงูุบุงุก / ุฒุฑ ุงูุชุนููุถ ูุง ูุนูู ุ</option>
                        <option value="5">ูู ูููููู ุงูุญุตูู ุนูู ุฎุตู ุ</option>
                        <option value="6">ููู ูููููู ุงูุดุญู ุชููุงุฆูุง ุนุจุฑ ุจุงูุจุงู ุ</option>
                        <option value="7">ูู ูู ุงููุฏุฉ ุงููุงุฒูุฉ ูุชูููุฐ ุทูุจู ุ</option>
                        <option value="8">ูู ุชูุจููู ุงูุฏูุน ุนุจุฑ ุงูููุฒุง ุ</option>
                        <option value="9">ููู ูููู ุงูุญุตูู ุนูู ุฑุงุจุท ุชุนููู ูู ููุชููุจ ุ 
                        </option>
                        <option value="10">ูู ุงููุชุงุจุนูู ุญูููู ุงู ูููู ุ</option>
                        <option value="11">ูุง ูู ุฎุฏูุฉ ุงูููุดู ูููู ุชุนูู ุ 
                        </option>
                        <option value="12">ูุง ูู ุงูุทุจุงุนุงุช ุงูุงูุณุชูุฑุงู ุ</option>
                        <option value="13">ูู ุฎุฏูุงุช ุงูุจุซ ุงููุจุงุดุฑ ูู ูุฌุจ ูุถุน ุงููููู ูุจู ุงู ูููู ุงูููุฒุฑ ุจูุชุญ ูุงูู ุงู ุจุนุฏู ุ</option>
                        <option value="14">ูุง ูู ูุธุงู ุชุนููุถ ุงูููุต ุ</option>
                        <option value="15">ูุง ูู ุฎุฏูุฉ " ุญูุธ ุงูุณุชูุฑุงู " ููุงุฐุง ุชูุนู ุ</option>
                     </select> -->
                 
                  </div>
               </div>

                <div class="col-sm-12 margin-custom" style="margin-top: 88px;">
                  <div class="tab-content faq-cont">
                     <div role="tabpanel" class="tab-pane active" id="faq1">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4 id="ques_answeq_section_ques"></h4>
                        <p id="ques_answeq_section_answer"></p>
                     </div>
                     </div>
                   </div>
               <!-- <div class="col-sm-12" >
                  <div class="tab-content faq-cont">
                     <div role="tabpanel" class="tab-pane active" id="faq1">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูุง ูุนูู ุงู ุงูุทูุจ ููุชูู ุฌุฒุฆูุง ุ</h4>
                        <p>ููุชูู ุฌุฒุฆูุง ุชุนูู ุนูุฏูุง ูููู ุจุงุนุงุฏุฉ ุซูู ุงูุนุฏุฏ ุงููุชุจูู ุงูุฐู ูู ูุชู ุงุฑุณุงูู. ูู ุจุนุถ ุงูุฃุญูุงู ุ ูุชุนุฐุฑ ุนูููุง ุชูููุฐ ูุงูู ุงูุนุฏุฏ ุงููุทููุจ ูุจุนุถ ุงูุทูุจุงุช ุ ูุฐุง ูุฅููุง ูุนูุฏ ุฅููู ุงููุจูุบ ุงููุชุจูู ุงูุฐู ูู ูุชู ุชุณูููู. ูุซุงู: ููุฏ ุงุดุชุฑูุช ุทูุจูุง ุจุนุฏุฏ 10000 ููุงู ุงูุซูู 10 ุฏููุงุฑ ุ ุฏุนูุง ููุชุฑุถ ุฃููุง ูููุง ุจุฅุฑุณุงู 9000 ูุงูุจุงูู 1000 ูู ูุชููู ูู ุฅุฑุณุงููุง ุ ุจูุฐู ุงูุญุงูุฉ ุณูููู ุจูุถุน ุงูุทูุจ ููุชูู ุฌุฒุฆูุง ููุนูุฏ ูุฑุตูุฏู ุซูู ุงูู 1000 ูุชุงุจุน ุงูุฐู ูู ูุชู ุงุฑุณุงููู ููู 1 ุฏููุงุฑ ูู ูุฐุง ุงููุซุงู.</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq2">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูุง ูุนูู ุชุฌุฒุฆุฉ ุงูุชูููุฐ ุ</h4>
                        <p>ุฎุฏูุฉ ุชุฌุฒุฆุฉ ุงูุชูููุฐ ูู ุฎุฏูุฉ ููุฏููุง ุญุชู ุชุชููู ูู ุชูุฏูู ุงูุทูุจ ููุณู ุนุฏุฉ ูุฑุงุช ุชููุงุฆููุง. ุนูู ุณุจูู ุงููุซุงู: ูููุชุฑุถ ุฃูู ุชุฑูุฏ ุงูุญุตูู ุนูู 1000 ูุงูู ุนูู ููุดูุฑ ุงูุงูุณุชูุฑุงู ุงูุฎุงุต ุจู ููููู ุชุฑุบุจ ูู ุงูุญุตูู ุนูู 100 ูุงูู ูู 30 ุฏูููุฉ ุ ุณุชุถุน ูุง ููู - ุงูุฑุงุจุท: ุฑุงุจุท ุงูููุดูุฑ ุงูุฎุงุต ุจู - ุงููููุฉ: 100 - ุนุฏุฏ ูุฑุงุช ุงูุชุดุบูู: 10 (ุงู ุชุฑูุฏ ุชุดุบูู ูุฐุง ุงูุทูุจ 10 ูุฑุงุช ุ ุฅุฐุง ููุช ุชุฑุบุจ ูู ุงูุญุตูู ุนูู 2000 ูุงูู ุ ูุณูู ุชููู ุจุชุดุบููู 20 ูุฑุฉ ุ ุฅูุฎ ...) - ุงููุงุตู ุงูุฒููู: 30 (ูุฃูู ุชุฑุบุจ ูู ุงูุญุตูู ุนูู 100 ูุงูู ูู ูุดุงุฑูุชู ูู 30 ุฏูููุฉ ุ ุฅุฐุง ููุช ุชุฑูุฏ ูู ุณุงุนุฉ ุ ูุณุชุถุน 60 ูุฃู ุงูููุช ูู ุฏูุงุฆู) - ููุงุญุธุฉ: ูุง ุชุทูุจ ุฃุจุฏูุง ูููุฉ ุฃูุจุฑ ูู ุงูุญุฏ ุงูุฃูุตู ุงูููุชูุจ ุนูู ุงุณู ุงูุฎุฏูุฉ (ุงููููุฉ ร ุงูุชุดุบูู) ุูุซุงู: ุฅุฐุง ูุงู ุงูุญุฏ ุงูุฃูุตู ููุฎุฏูุฉ ูู 4000 ุ ููู ุชุถุน ุงููููุฉ: 500 ูุงูุชุดุบูู: 10 ุ ูุฃู ุฅุฌูุงูู ุงููููุฉ ุณูููู 500 ร 10 = 5000 ููู ุฃูุจุฑ ูู ุงูุญุฏ ุงูุฃูุตู ููุฎุฏูุฉ (4000).ููุง ูุง ุชุถุน ุงููุงุตู ุงูุฒููู ุงูู ูู ููุช ุงูุจุฏุก ุงููุนูู ููุฎุฏูุฉ (ุชุญุชุงุฌ ุจุนุถ ุงูุฎุฏูุงุช ุฅูู 60 ุฏูููุฉ ูุจุฏุก ุงูุชุดุบูู ุ ูุง ุชุถุน ุงููุงุตู ุงูุฒููู ุฃูู ูู ููุช ุจุฏุก ุงูุฎุฏูุฉ ุฃู ุณูุชุณุจุจ ูู ูุดู ูู ุทูุจู).</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq3">
                        <div class="faq-cont-icon"><i class="far fa-question"></i></div>
                        <h4>ููู ุงุณุชุฎุฏู ุฎุงุตูุฉ ุงูุทูุจุงุช ุงูุฌูุงุนูุฉ ุ</h4>
                        <p>ูุฌุจ ุงู ุชููู ุจูุถุน ุฑูู ุงูุฎุฏูุฉ | ูุชุจูุนุงู ุจุงูุฑุงุจุท | ูุชุจูุนุฉ ุจุงููููุฉ ุนูู ูู ุณุทุฑ ูููุญุตูู ุนูู ุฑูู ุฎุฏูุฉ ูุง ูุฑุฌู ุงูุชุญูู ูู ููุง:</p>
                        <a href="https://smmcpan.com/services">https://smmcpan.com/services</a>
                        <p>ุฏุนูุง ูููู ุฃูู ุชุฑูุฏ ุงุณุชุฎุฏุงู ุงูุทูุจุงุช ุงูุฌูุงุนูุฉ ูุฅุถุงูุฉ ูุชุงุจุนูู ุงูุณุชูุฑุงู ุฅูู ุญุณุงุจุงุชู ุงูุซูุงุซุฉ: abcd ุ asdf ุ qwer</p>
                        <p>ูู ูุงุฆูุฉ ุงูุฎุฏูุงุช ุฑูู ุงูุฎุฏูุฉ ููุฐู ุงูุฎุฏูุฉ โ<strong>ูุชุงุจุนูู ุงูุณุชูุฑุงู [50 ุงูู] [ุถูุงู 30 ููู] [ุฎุฏูุฉ ุฌุฏูุฏุฉ - ูุณุชูุฑุฉ] ๐ฅโ</strong> ูู 3740</p>
                        <p>ูู 1322 ูููุชุฑุถ ุฃูู ุชุฑูุฏ ุฅุถุงูุฉ 1000 ูุชุงุจุน ููู ุญุณุงุจ ุ ุณูููู ุงูุงุฏุฎุงู ููุง ููู: ุฑูู ุงูุฎุฏูุฉ | ุงููููู | ุงููููุฉ</p>
                        <p>ุฃู ูู ูุฐุง ุงููุซุงู:</p>
                        <p>
                           3740|abcd|1000<br>
                           3740|asdf|1000<br>
                           3740|qwer|1000<br>
                        </p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq4">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ุงุฑูุฏ ูููุน ูุซู ูููุนูู / ุงุฑูุฏ ุงุนุงุฏุฉ ุจูุน ุฎุฏูุงุชูู ููู ุ</h4>
                        <p>ููุญุตูู ุนูู ูุชุฌุฑ ุงููุชุฑููู ูุฑุจูุท ุจุฎุฏูุงุชูุง ูุฑุฌู ุชููุฏ ุตูุญุฉ : <a href="https://smmcpan.com/child-panels">ูุชุฌุฑ ุงููุชุฑููู</a>.</p>
                        <p>ููุงู ุงุณุชูุณุงุฑ ุงุฎุฑ ููููู ุงูุชูุงุตู ูุนูุง ุนูู ุตูุญุฉ : <a href="https://smmcpan.com/tickets">ุงูุฏุนู ุงูููู</a></p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq5">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ุฒุฑ ุงูุงูุบุงุก / ุฒุฑ ุงูุชุนููุถ ูุง ูุนูู ุ</h4>
                        <p>ูุฑุณู ุฒุฑ ุงูุฅูุบุงุก ุฃู ุฅุนุงุฏุฉ ุงูุชุนููุถ ุงุดุงุฑุฉ ูุฅูุบุงุก ุฃู ุฅุนุงุฏุฉ ููุก ุงูุทูุจ ุ ููู ูุง ูุนูู ุนูู ุงูููุฑ ุ ุฅูู ูุฌุฑุฏ ูุดุบู ุ ููู ุจุนุถ ุงูุฃุญูุงู ูููู ุงูุฃูุงู ูุฏ ูุงุช ูุงูุบุงุก ุงูุทูุจ ุ ููู ุจุนุถ ุงูุฃุญูุงู ูุฏ ูุง ูุญุชุงุฌ ุงูุทูุจ ูุงุนุงุฏุฉ ุชุนููุถ .</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq6">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูู ูููููู ุงูุญุตูู ุนูู ุฎุตู ุ</h4>
                        <p>ูุนู ููููู ุฐูู, ูู ูุฐุง ูุนุชูุฏ ุนูู ูุณุชูู ุญุณุงุจู .ูุงู ุงุณุชูุณุงุฑ ุชูุงุตู ูุนูุง ุนูู ุตูุญุฉ : <a href="https://smmcpan.com/tickets">ุงูุฏุนู ุงูููู</a></p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq7">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ููู ูููููู ุงูุดุญู ุชููุงุฆูุง ุนุจุฑ ุจุงูุจุงู ุ</h4>
                        <p>ุงูุจุงูุจุงู ุญุงููุง ููุนู ููุงุนุถุงุก ุงูุฐูู ุชุฌุงูุฒ ุงููุงููู 250 ุฏููุงุฑ ุงู ุงูุซุฑ ููุท.<br>ุงุฐุง ูุงู ุญุณุงุจู ุชุฌุงูุฒ ูุฐุง ุงูุฑูู ููุง ูุธูุฑ ูุฏูู ุงูุจุงูุจุงู ููุฑุฌู ุงูุชูุงุตู ูุนูุง ุนูู ุตูุญุฉ : <a href="https://smmcpan.com/">ุงูุฏุนู ุงูููู</a> ูุชูุนููู.</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq8">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูู ูู ุงููุฏุฉ ุงููุงุฒูุฉ ูุชูููุฐ ุทูุจู ุ</h4>
                        <p>ุญุณุจ ุงูุนุฏุฏ ุงููุทููุจ ูุงูุชุญุฏูุซุงุช ุงูููุฌูุฏูุ ุนูุฏ ุฅุฎุชูุงุฑ ุงูุฎุฏูุฉ ุณุชุฌุฏ ุดุฑุญ ูุงูู ุนููุง ูู ูุณุชุทูู ุงุณูู ุงูุฎุฏูุฉ .</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq9">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูู ุชูุจููู ุงูุฏูุน ุนุจุฑ ุงูููุฒุง ุ</h4>
                        <p>ูุนู ููุจู ุงููุฏููุนุงุช ูู ุฌููุน ุงูุจุทุงูุงุช ุงูุงุฆุชูุงููุฉ : ููุฒุง ููุงุณุชุฑ ูุงุฑุฏ ููุฏู ูุงูุจุทุงูุงุช ุงููุคูุชุฉ ูุบูุฑูุง.<br>ูุฑุฌู ุงูุชูุงุตู ูุนูุง ุนูู ุตูุญุฉ : <a href="https://smmcpan.com/tickets">ุงูุฏุนู ุงูููู</a> ูุชูุนูู ุงูุฎุงุตูุฉ ูุญุณุงุจู ุงุฐุง ูู ุชูู ุธุงูุฑุฉ.</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq10">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ููู ูููู ุงูุญุตูู ุนูู ุฑุงุจุท ุชุนููู ูู ููุชููุจ ุ</h4>
                        <p>ุงุจุญุซ ุนู ุงูููุช ุงูุฒููู ุงูููุฌูุฏ ุจุฌูุงุฑ ุงุณู ุงููุณุชุฎุฏู ุงูุฎุงุต ุจู ุฃุนูู ุชุนูููู (ุนูู ุณุจูู ุงููุซุงู: "ูุจู 3 ุฃูุงู") ูุถุน ุงููุคุดุฑ ูููู ุซู ุงููุฑ ุจุฒุฑ ุงููุงูุณ ุงูุฃููู ูุงุถุบุท "ูุณุฎ ุนููุงู ุงูุฑุงุจุท". ุณูููู ุงูุฑุงุจุท ูุซู ูุฐุง: https://www.youtube.com/watchุv=12345&amp;lc=a1b21 ุงูุฎ - ุจุฏูุงู ูู https://www.youtube.com/watchุv=12345 ููุท ููุชุฃูุฏ ูู ุญุตููู ุนูู ุงูุฑุงุจุท ุงูุตุญูุญ ุ ุงูุตูู ูู ุดุฑูุท ุนููุงู ุงููุชุตูุญ ุงูุฎุงุต ุจู ูุณุชุฑู ุฃู ุงูุชุนููู ูู ุงูุขู ุฃูู ุชุนููู ุฃุณูู ุงูููุฏูู ููู ูููู "ุชุนููู ูููุฒ" Highlighted comment".</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq11">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูู ุงููุชุงุจุนูู ุญูููู ุงู ูููู ุ</h4>
                        <p>ููุงู ููุนูู ูู ุงูุฎุฏูุงุชุ ุญูููู ูููููุ ุณุชุฌุฏ ูู ุนููุงู ุงูุฎุฏูุฉ ููุน ุงููุชุงุจุนูู.</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq12">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูุง ูู ุฎุฏูุฉ ุงูููุดู ูููู ุชุนูู ุ</h4>
                        <p>ููุฏู ููู ูููุน SmmCpan ุฎุฏูุฉ ููุดู ุงูุณุชูุฑุงู ุงูุชููุงุฆูู ูุงูุชู ุชุนุทูู ููุฒุฉ ุนูู ุชุงู ุนูู ุฃู ููุฏูู ุฃู ุตูุฑุฉ ูุนููู ูู ุญุณุงุจู ูุญุฏ ููููู ูุณุชุฎุฏู ุงูุณุชูุฑุงู. ููููู ุงุฎุชูุงุฑ ุงูุดุฎุต ุงููุดููุฑ ุงู ุฃู ุญุณุงุจ ุชุฑูุฏ ุงุณุชูุฏุงู ูุชุงุจุนูููู ูู ุฎูุงู ุฎุฏูุฉ ููุดู ุงูุณุชูุฑุงู ูุงูุชู ุณุชุนุทูู ุฏูุนู ูููุฉ ููุฃูุงู ูุนุฏุฏ ูุจูุฑ ูู ุงููุชุงุจุนูู ุงูุฌุฏุฏ ุญุณุจ ุฌูุฏุฉ ุญุณุงุจู ูุงููุญุชูู ุงูุฐู ุชูุฏูู. ูุชู ุงูุงูุชูุงุก ูู ุนูู ุงูููุดูุงุช ูุง ุจูู ููู ูุซูุงุซ ุฃูุงู ุญุณุจ ุงููููุฉ ูุถุบุท ุงูุทูุจุงุช. ุชุนุฑุถุช ุงูุฎุฏูุฉ ูู ุจุนุถ ุงูุฃููุงุช ููุนุฏูุฏ ูู ุงูุงูุชูุงุฏุงุช ูุฐูู ุจุณุจุจ ุณูุก ุงุณุชุฎุฏุงููุง ูู ูุจู ุจุนุถ ุงููุดุชุฑููุ ูููุณ ูู ุงูุถุฑูุฑู ุงุณุชุฎุฏุงููุง ูุงุฌุจุงุฑ ุงููุชุงุจุนูู ุนูู ุงูุงูุชุจุงู ุงููู ููุชุงุจุนุชูุ ูุฌุจ ุนููู ุงู ุชูุฏู ุดูุก ูููุฒ ูู ุงูุตูุฑุฉ ุฃู ุงูููุฏูู ููู ูุง ูุดุนุฑ ุงูุดุฎุต ุงููููุดู ุจุฃูู ูุง ุนูุงูุฉ ูู ุจุงููุญุชูู ูุงูุฐู ููุชูู ุจู ุงููุทุงู ุฅูู ูุถุน ุชุนููู ุณูุจู ููู ุจุนุถ ุงูุงุญูุงู ุชูุฏูู ุดููู ุนููู ูู ุงูุณุชูุฑุงูุ ููุตุญู ุจุงุณุชูุฏุงู ุญุณุงุจ ูู ููุณ ุงูุชูุงู ุงูุญุณุงุจ ุงูุฐู ุณุชููุช ุงูุงูุชุจุงู ุนููู ูุชุญุตู ุนูู ูุชุงุฆุฌ ูุจูุฑุฉ ุทุฑููุฉ ุงูุทูุจ : ุงูููุฒุฑ : ุถุน ููุฒุฑ ุงูุญุณุงุจ ุงูุฐู ุชุฑูุฏ ุนูู ููุดู ููุชุงุจุนููู ุงูุฑุงุจุท : ูููู ุงูููุดูุฑ ุงูุฎุงุต ุจู ุงูุง ูู ุญุงูุฉ ุนูู ููุดู ูููุฒุฑุงุช ูุนููุฉ : ุถุน ุงูููุฒุฑุงุช ูู ูุงุญุฏ ุนูู ุณุทุฑ ุจุฏูู ุนูุงูุฉ "@"</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq13">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูุง ูู ุงูุทุจุงุนุงุช ุงูุงูุณุชูุฑุงู ุ</h4>
                        <p>ุงูุงูุทุจุงุนุงุช ุชุนูู ุงููุตูู (ุฃูุถูุง ุชุนูู ูู ุนุฏุฏ ุงููุณุชุฎุฏููู ุงูุฐูู ุดุงูุฏูุง ุงูููุดูุฑ ุงูุฎุงุต ุจู) ูุชู ุงุณุชุฎุฏุงููุง ูู ุงูุบุงูุจ ูุน ุงูุนูุงูุงุช ุงูุชุฌุงุฑูุฉ ุ ููุทูุจูู ููู ุฅุธูุงุฑ ุฅุญุตุงุฆูุงุช ููุฑุงุช ุธููุฑู ุงูููุดูุฑ.</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq14">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูู ุฎุฏูุงุช ุงูุจุซ ุงููุจุงุดุฑ ูู ูุฌุจ ูุถุน ุงููููู ูุจู ุงู ูููู ุงูููุฒุฑ ุจูุชุญ ูุงูู ุงู ุจุนุฏู ุ</h4>
                        <p>ุจุนุฏ ุงู ูููู ุจูุชุญ ุงูุงูู , ุงู ูุจู 5 ุซูุงูู ูู ูุชุญู</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq15">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูุง ูู ูุธุงู ุชุนููุถ ุงูููุต ุ</h4>
                        <p>ูุชู ุชุนููุถ ุงูููุต ุฅู ุญุตู ูู ุงูุฎุฏูุงุช ุงููุถูููุฉ ููุฏุฉ ูุญุฏุฏุฉ ุจุงูุชูุงุตูู ุดุฑูุทุฉ ุฃู ูููู ุฌููุน ูุชุงุจุนูู ุงูุญุณุงุจ ุญูููู ุฃู ุฌููุน ุงููุชุงุจุนูู ุชู ุทูุจูู ูู ูููุนูุง. ูุงูู ูุฏ ุชุทูุจ ูู ุนูุฏูุง 1000 ูุชุงุจุน ููููู ุงูุญุณุงุจ ุจู ุงูุงู ุงู ูุฆุงุช ุงูุงู ุงููุชุงุจุนูู ูู ูุจูุ ุจูุฐู ุงูุญุงูุฉ ูุงูููููุง ุชูุฏูู ุถูุงู ููุชุนููุถ ูู.</p>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="faq16">
                        <div class="faq-cont-icon"> <i class="far fa-question"> </i> </div>
                        <h4>ูุง ูู ุฎุฏูุฉ " ุญูุธ ุงูุณุชูุฑุงู " ููุงุฐุง ุชูุนู ุ</h4>
                        <p>ุญูุธ ุงูุณุชูุฑุงู ุงู ุนูุฏูุง ูููู ุงููุณุชุฎุฏู ุจุญูุธ ููุดูุฑ ูู ุณุฌูู ุนูู ุงูุณุชูุฑุงู (ุนู ุทุฑูู ุงูุถุบุท ุนูู ุฒุฑ ุงูุญูุธ ุจุงููุฑุจ ูู ุงูุฒุฑ "ุฃุนุฌุจูู"). ุงููุซูุฑ ูู ุงูุญูุธ ููุดููุฑ ูุง ูุฒูุฏ ูู ุงูุทุจุงุนูุง ูุงุญุตุงุฆูุงุชูุง .</p>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
      </div>
   </div>
</main>




  <script src="<%- host %>js/assets/jquery.min.js"></script>
 <script src="<%- host %>js/assets/faqsPage.js"></script>
