<main class="inner-wrap">
   <style>
       .giveaway-head {
           display: block;
           text-align: center;
           background-image: url(<%-host%>style/images/gift_1.png);
           background-repeat: no-repeat;
           background-position: center;
           background-size: 100% 100%;
           width: 480px;
           height: 340px;
           margin: 20px auto 40px;
       }
       .giveaway-head {
           display: block;
           text-align: center;
           background-image: url(<%-host%>style/images/gift_1.png);
           background-repeat: no-repeat;
           background-position: center;
           background-size: 100% 100%;
           width: 480px;
           height: 340px;
           margin: 20px auto 40px;
           padding: 133px 20px 40px 10px;
       }
       .giveaway-head h2 {
           font-size: 72px;
           font-weight: 600;
           color: #fff;
           transform: rotate(-11deg);
       }
       .giveaway-head h3 {
           font-size: 26px;
           color: #000;
           margin: 25px 35px 0 0;
           transform: rotate(-11deg);
           font-weight: 600;
       }
       .gtitle {
           margin-top: 0;
           font-size: 36px;
           font-weight: 600;
           color: #000;
       }
       .row.grow {
           display: flex;
           flex-wrap: wrap;
           align-items: center;
           margin-top: 55px;
       }
       .nightmode .gtitle,
       .nightmode .grow p {
           color: #fff;
       }
       .ar .giveaway-head {
           padding: 86px 20px 40px 10px;
           width: 390px;
           height: 310px;
       }
       .ar .giveaway-head h2 {
           transform: rotate(-10deg);
       }
       .ar .giveaway-head h3 {
           margin: 30px 35px 0 0;
           transform: rotate(-12deg);
       }
       @media (max-width: 550px) {
           .giveaway-head {
               width: 300px;
               height: 260px;
               margin: 10px auto 15px;
               padding: 110px 20px 40px 10px;
           }
           .ar .giveaway-head {
               width: 300px;
               height: 260px;
               padding: 76px 20px 40px 10px;
           }
           .giveaway-head h2 {
               font-size: 42px;
               transform: rotate(-13deg);
           }
           .ar .giveaway-head h2 {
               font-size: 54px;
               transform: rotate(-13deg);
           }
           .giveaway-head h3 {
               font-size: 16px;
               margin: 30px 25px 0 0;
               transform: rotate(-13deg);
           }
           .ar .giveaway-head h3 {
               font-size: 20px;
           }
           .ar .giveaway-head h3 {
               margin: 25px 20px 0 0;
               transform: rotate(-14deg);
           }
           .row.grow {
               flex-direction: column;
               margin-top: 30px;
               text-align: center;
           }
           .grow:nth-child(3),
           .grow:nth-child(5) {
               flex-direction: column-reverse;
           }
           .grow img {
               width: 100%;
               display: block;
               margin-bottom: 20px;
           }
           .gtitle {
               font-size: 28px;
               margin-bottom: 20px;
           }
       }
   </style>
   <div class="container-fluid">
       <div class="row">
           <div class="col-sm-4"></div>
           <div class="col-sm-4">
               <p class="breadcrumbs">أنت الآن على: <strong>هدايا</strong></p>
           </div>
           <div class="col-sm-4"></div>
       </div>
       <div class="row">
           <div class="col-md-12">
               <div class="gift_image_main" style="display: flex; justify-content: center;">
                   <img style="width: 60%; height: 60%;" class="" src="<%- host %>style/images/gift_main.png" />
               </div>
               <!-- <div class="giveaway-head">
               <h2>هدايا</h2>
               <h3>اتبع الخطوات التالية</h3>
            </div> -->
           </div>
       </div>
       <div class="row grow">
           <div class="col-sm-6 gift_text">
               <h2 class="gtitle">نشر فيديو عبر اليوتيوب :</h2>
               <p>ماذا عليك ان تفعل ؟</p>
               <p>-قم بنشر مقطع فيديو في قناتك على اليوتيوب يوضح كيفية استخدام موقعنا من خلال : تسجيل حساب - تسجيل الدخول - إضافة رصيد - كيفية الطلب - الدعم الفني … الخ.</p>
               <p>- بعد ذلك يرجى رفع رسالة الى الدعم الفني وارسال رابط الفيديو ليتم اضافة من 2 الى 8 دولار إلى رصيدك بالموقع {على حسب شرحك}</p>
               <p><span style="font-weight: 600;">ملاحظة</span> : يمكنك استخدم رابط الأحالة الخاص بك الموجود في قسم التسويق بالعمولة للحصول على ارباح بطريقة اخرى ايضا لكل عميل يقوم بالتسجيل من الرابط الخاص بك</p>
               <ul>
                   الشروط والاحكام :
               </ul>
               <li>يجب الا تقل قناتك عن 250 مشترك و 5 مقاطع</li>
               <li>يجب ان يكون عنوان المقطع {موقع المشاهير زيادة متابعين}</li>
               <li>يجب وضع رابط الموقع في البايو و التعليقات و هذة الهاشتاقات</li>
               <li style="font-weight: 600;">#زيادة_متابعين #زيادة_متابعين_انستقرام #موقع_زيادة_متابعين_انستقرام #طريقة_زيادة_متابعين_الانستقرام_طريقة_صحيحة</li>
               <li>عدم حذف المقطع, وان حذف سوف يتم تعليق حسابك + سحب جميع المتابعين او الخدمات التي حصلت عليها.</li>
           </div>
           <div class="col-sm-6">
               <div style="display: flex; justify-content: center;">
                   <img style="width: 100%; height: 100%;" class="" src="<%- host %>style/images/postVideo.png" />
               </div>
               <!-- <img src="<%- host %>style/images/gift_4.png" alt="Gift 4" /> -->
           </div>
       </div>
       <div class="row grow">
           <div class="col-sm-6">
               <div style="display: flex; justify-content: center;">
                   <img style="width: 100%; height: 100%;" class="" src="<%- host %>style/images/postOnForum.png" />
               </div>
               <!-- <img src="<%- host %>style/images/gift_3.png" alt="Gift 3" /> -->
           </div>
           <div class="col-sm-6 gift_text">
               <h2 class="gtitle" style="margin-top: 20px;">نشر فيديو على الانستقرام او..</h2>

               <p>ماذا عليك ان تفعل ؟</p>
               <p>تنشر فيديو على الأنستقرام او ستوري على اي موقع من التواصل الأجتماعي وسوف تحصل على رصيد مجانا يصل الى 15$ توضح ما يلي :</p>
               <p>تسجيل حساب جديد + كيفية اضافة رصيد + كيفية الطلب ويوجد خدمات مجانية لكل حساب + الدعم الفني + الخ..</p>
               <p>بعد ذالك يرجى ارسال رسالة عبر قسم الدعم الفني وارسال رابط الفيديو .</p>
               <p>الستوري : من 1 الى 5 دولار , على حسب شرحك.</p>
               <p>البوست : من 1 الى 15 دولار على حسب شرحك والتفاعل معة.</p>
               <p><span style="font-weight: 600;">ملاحظة</span> : يمكنك استخدم رابط الأحالة الخاص بك الموجود في قسم التسويق بالعمولة للحصول على ارباح بطريقة اخرى ايضا لكل عميل يقوم بالتسجيل من الرابط الخاص بك</p>
               <ul>
                   الشروط و الأحكام :
               </ul>
               <li>يجب الا يقل حسابك عن 200 متابع + متفاعلين.</li>
               <li>يجب ان تضع رابط الموقع عبر البايو او الستوري الخاص بك ةان يكون مكتوب في بداية المقطع : زيادة متابعين.</li>
               <li>عدم حذف المقطع, وان حذف سوف يتم تعليق حسابك + سحب جميع المتابعين او الخدمات التي حصلت عليها.</li>
               <!-- <h2 class="gtitle">النشر على منتدى</h2>
            <p>ماذا عليك ان تفعل ؟</p>
            <p>- نشر بوست على منتدى معين حول موقعنا وكيفية استخدامه وتقييم ايجابي له من خلال توضيح الية : التسجيل - شحن الرصيد - الطلب - الدعم … الخ </p>
            <p>- بعد نشر البوست, يرجى رفع تذكرة عنوانها “ اخر “ وارسل لنا رابط المنشور ليتم اضافة 2 دولار لحسابك بالموقع.</p>
            <p>الشروط والاحكام :</p>
            <p>يجب وضع اسم الموقع كالتالي : SMMCPAN - موقع بيع متابعين</p>
            <p>ملاحظة : يمكنك أستخدام رابط الافيليت الخاص بك الموجود ب صفحة : التسويق بالعمولة للحصول على ارباح بطريقة اخرى ايضا لكل عميل يقوم بالتسجيل من اللينك الخاص بك.</p>
            <p>- يجب ان يكون عمر الحساب الخاص بك اكثر من شهر ويحتوي على الاقل على 5 منشورات او اكثر مسبقا.</p> -->
           </div>
       </div>
       <div class="row grow">
           <div class="col-sm-6 gift_text">
               <h2 class="gtitle">النشر على منتدى - مدونتك - موقعك :</h2>
               <p >نشر بوست على منتدى معين حول موقعنا وكيفية استخدامه وتقييم ايجابي له من خلال توضيح الية : التسجيل - شحن الرصيد - الطلب - الدعم … الخ</p>
               <p>- بعد نشر البوست, يرجى ارسال رساله عبر الدعم الفني وارسل لنا رابط المنشور ليتم اضافة 2 دولار لحسابك بالموقع.</p>
               <!-- <h2 class="gtitle">نشر مقال على موقعك/مدونتك</h2>
            <p>ماذا عليك ان تفعل ؟</p>
            <p>-قم بنشر مقال على موقعك أو مدونتك حول التسويق الالكتروني واذكر اسمنا ورابط الموقع كالتالي : موقع بيع متابعين - SMMCPAN </p>
            <p>ملاحظة : يمكنك أستخدام رابط الافيليت الخاص بك الموجود ب صفحة : التسويق بالعمولة للحصول على ارباح بطريقة اخرى ايضا لكل عميل يقوم بالتسجيل من اللينك الخاص بك.</p>
            <p>-بعد نشر البوست, يرجى رفع تذكرة عنوانها “ اخر “ وارسل لنا رابط المنشور ليتم اضافة 3 دولار لحسابك بالموقع.</p>
            <p>الشروط والاحكام :</p>
            
            <p></p>
            <p>-يجب أن يكون موقعك / مدونتك فعال وليس جديد ويجب أن يحتوي على بعض المنشورات القديمة.</p> -->
           </div>
           <div class="col-sm-6">
               <div style="display: flex; justify-content: center;">
                   <img style="width: 100%; height: 100%;" class="" src="<%- host %>style/images/postOnWeb.png" />
               </div>
               <!-- <img src="<%- host %>style/images/ggift_2.png" alt="Gift 2" /> -->
           </div>
       </div>
   </div>
   <br />
   <br />

   <div style="text-align: center;" class="gift_text">
       رابط الأحالة الخاص بك : يمكنك النشر عبر اي مكان اخر وتضع رابط الأحالة الخاص بك - يمكنك الأطلاع على باقي التفاصيل في قسم
       <a href="<%- host %>affiliates">التسويق بالعمولة</a>.
   </div>
</main>
