<section class="hero-sec-custom" id="hero-sec">
     <div class="bg-features-header">
      <div class="container">
       <div class="row "  style="margin-top: 45px;">
          <div class="col-sm-12 ">

          <div class="col-sm-6" style="margin-bottom: 20px">
             <h1 data-aos="fade-up" data-aos-duration="3000">
                <div class="respon-home" style="font-weight: 300; line-height: 20px; font-size: 80px; color: #F4DB7D;">
                  المشاهير
                </div> 
                 <!-- <i class="point"></i> -->
               <h1 data-aos="fade-up" data-aos-duration="3000"><br>
            
                   للطريق نحو هدفك  
               </h1>
             <h2 data-aos="fade-up" data-aos-duration="3000">
                جميع خدمات التواصل الاجتماعي في مكان واحد
                </h2>
             <!-- <a href="https://ssm.nay9ca.com/signUp.html" class="btn btn-primary" data-aos="fade-up" data-aos-duration="3000">سجل الان</a> -->
             <a href="registre" style="background-color: #F4DB7D; color: #1A2238; border-radius: 47px; line-height: 25px; border: 0; margin-right: 25%;"  class="btn btn-primary" data-aos="fade-up" data-aos-duration="3000">سجل الان</a>
          </div>
          <div class="col-sm-6" style="">
                   <div class="single-item slick-height" style="">
                      <!--<div style=" ">
               <img style="object-fit: contain; display: flex; margin: auto; width: 100%; height: 100%;" class="" src="<%- host %>style/images/laptop.webp" />
                      </div>-->
                      <div class="slick-img-home">
               <img style="object-fit: contain; display: flex; margin: auto;" class="" src="<%- host %>style/images/twitter.png" />
                      </div>
                      <div>
                <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/netflix.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/linkedin.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/instagram.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/discord.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/clubhouse.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/pubg.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/snapchat.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/soundcloud.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/spotify.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/telegram.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/tiktok.png" />
                      </div>
                      <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/twitch.png" /> 
                      </div>
               <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/youtube.png" /> 
                      </div>
              
                       <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/facebook.png" /> 
                      </div>

                        <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/google.png" /> 
                      </div>
                <div>
               <img style="object-fit: contain; display: flex; margin: auto;"  src="<%- host %>style/images/whatsapp.png" /> 
                      </div>
                       
      
                      </div>

          </div>
            
             <!-- <div class="mobile-slider" data-aos="fade-up" data-aos-duration="3000">
                <div>
                   <div class="social-logos-wrap logo-tw"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-ig"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-yt"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-fb"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-tt"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-sc"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-ch"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-tg"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-th"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-sp"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-sl"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-li"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-gl"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-dc"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-wp"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-pg"></div>
                </div>
                <div>
                   <div class="social-logos-wrap logo-nx"></div>
                </div>
             </div> -->
          </div>
       </div>
    </div>
 </div>
  
   
 </section>
  <!-- <div style="width: 100%; height: 200px;">
    <img style="width: 100%; object-fit: cover; height: 100%;" src="<%- host %>style/images/bgHome.png" alt="">
 </div> -->
 <section id="form-sec">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 data-aos="fade-up" data-aos-duration="2000">تصفح جميع ميزات الموقع عن طريق تسجيل الدخول.</h2>
             <p data-aos="fade-up" style="color: #000000; opacity: 46%;" data-aos-duration="2000">
                <!-- يرجى وضع اليوزر والباسورد لتسجيل الدخول. -->
               يرجى وضع اسم المستخدم وكلمة السر لتسجيل الدخول
               </p>
             <form class="rtl-form" id="login_form" data-aos="fade-up" data-aos-duration="2000" onsubmit="return false;">
                <div class="row">
                   <div class="col-sm-5">
                      <div class="form-group icon-group">
                         <input type="text" class="form-control" id="username" placeholder="اسم المستخدم">
                         <!-- <span class="input-icon"><i class="material-icons"></i></span> -->
                <span class="input-icon"><i class="material-icons">person</i></span>
                       
                         <span class="issues username_issue"></span>
                      </div>
                   </div>
                   <div class="col-sm-5">
                      <div class="form-group form-group__password icon-group">
                         <input type="password" class="form-control" id="password" placeholder="كلمه السر">
                         <!-- <span class="input-icon"><i class="material-icons"></i></span> -->
                       
                    <span class="input-icon"><i class="material-icons">lock</i></span>
                        
                         <span class="issues password_issue"></span>

                      </div>
                      <div class="form-group hidden-lg hidden-md hidden-sm text-center">هل نسيت كلمة المرور؟ <a href="resetpassword" class="forgot"> اعادة تعيين</a></div>
                   </div>
                   <div class="col-sm-2">
                      <button type="button" class="btn btn-primary" id="login_btn" style="border-radius: 31px; border: 0;" value="Login">تسجيل الدخول</button>
                   </div>
                </div>
                <div class="row">
                   <!-- <div class="col-sm-2"></div> -->
                   <div class="col-sm-5">
                      <div class="checkbox">
                         <input id="remember" type="checkbox"  value="Login" />
                         <label for="remember">تذكرنى</label>
                      </div>
                      <div class="register-text">ليس لديك حساب ؟ <a href="registre">سجل الان</a></div>
                   </div>
                   <div class="col-sm-5 hidden-xs">
                      <div class="register-text">
                         هل نسيت كلمة المرور؟ <a href="resetpassword" class="forgot"> اعادة تعيين</a>
                      </div>
                   </div>
                </div>
             </form>
          </div>
       </div>
       <div class="row">
          <div class="col-md-3">
             <div class="stats-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <div class="stat-pic">
                   <div style="display: flex; align-items: center; justify-content: center;  border-radius: 100%; background-color: #1A2238; width: 80px; height: 80px;">
                  <img  class=""  src="<%- host %>style/images/running.png" />

                   </div>
                   
               </div>
                <h3 style="font-size:30px;">سرعة البدأ فوري.</h3>
             </div>
          </div>
          <div class="col-md-3">
             <div class="stats-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <div class="stat-pic">
                   <div style="display: flex; align-items: center; justify-content: center;  border-radius: 100%; background-color: #1A2238; width: 80px; height: 80px;">
                  <img  class=""  src="<%- host %>style/images/dollar-symbol.png" />

                   </div>
                   
               </div>
                <h3>0.001$°1K</h3>
                <h4>الاسعار تبدا من</h4>
             </div>
          </div>
          <div class="col-md-3">
             <div class="stats-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <div class="stat-pic">
                     <div style="display: flex; align-items: center; justify-content: center;  border-radius: 100%; background-color: #1A2238; width: 80px; height: 80px;">
                  <img  class=""  src="<%- host %>style/images/order.png" />

                   </div>
                  </div>
                <h3>3710157</h3>
                <h4>طلب مكتمل</h4>
             </div>
          </div>
          <div class="col-md-3">
             <div class="stats-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <div class="stat-pic">
                      <div style="display: flex; align-items: center; justify-content: center;  border-radius: 100%; background-color: #1A2238; width: 80px; height: 80px;">
                  <img  class=""  src="<%- host %>style/images/new-product.png" />

                   </div>
                  </div>
                <h3>10 ثواني</h3>
                <h4>طلب جديد كل</h4>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section id="features" style="margin: 100px 0;" >
    

      <div  class="bg-features">

            <div  class="container" >
               <div class="row" style="margin-top: 50px;">
               
                  <div class="col-sm-12">
                  
                  <h2 class="main-head" data-aos="fade-up" data-aos-duration="2000">ما يميزنا</h2>
                  </div>

                  <div class="col-sm-12">
                     <ul class="feature-list">
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>ارخص وافضل الخدمات</p>
                           <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/thumbs-up.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>سرعة البدأ فورية.</p>
                           <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/fast.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>دعم فني متواصل 24/7</p>
                           <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/24-hours.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>طرق دفع متنوعة</p>
                           <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/debit-card.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p> نظام النقاط كل ما تنفق معنا تحصل على رصيد اضافي</p>
                              <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/exchange.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>لوحة تحكم سهلة وسلسة</p>
                              <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/booking.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>نظام تسويق بالعمولة</p>
                              <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/affiliate-marketing.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>نظام فلترة الخدمات المفضلة</p>
                           <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/rating.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>خصم خاص للمتاجر و للمواقع</p>
                           <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/discount.png" />
                           </div>
                        </li>
                        <li data-aos="fade-up" data-aos-duration="2000">
                           <p>تحديث مستمر للخدمات</p>
                              <div style="margin: 0 11px; border-radius: 100%; background-color: #F4DB7D; width: 56px; height: 56px; display: flex;">
                        <img  class="" style=" margin: auto;"  src="<%- host %>style/images/continuous.png" />
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
 </div>
   
 </section> 



 <section id="payment-methods">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 class="main-head text-center" data-aos="fade-up" data-aos-duration="2000">طرق الدفع</h2>
             <br><br>
             <img class="payment-logos" src="https://res.cloudinary.com/smmcpan2/image/upload/v1624462684/paymentlogo.svg" alt="payment-logos"  data-aos="fade-up" data-aos-duration="2000" />
          </div>
       </div>
    </div>
 </section>
 <!-- <section id="clients">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <h2 class="main-head text-center" data-aos="fade-up" data-aos-duration="2000">آراء العملاء</h2>
          </div>
       </div>
       <div class="testi-slider" data-aos="fade-up" data-aos-duration="2000">
          <div>
             <div class="testimonial-box text-center">
                <div class="testi-box">
                   <img class="rate" src="https://res.cloudinary.com/smmcpan2/image/upload/v1636058162/yisil85.png" alt="ratting">
                   <p>افضل موقع زيادة متابعين انستقرام, شكرا على خدماتكم الاكثر من رائعة.</p>
                </div>
                <div class="author">
                   <img class="author-pic" src="https://res.cloudinary.com/smmcpan2/image/upload/v1636058061/bjf6647xq89s330r.png" alt="author-pic">
                   <h4>محمد الجندي</h4>
                </div>
             </div>
          </div>
          <div>
             <div class="testimonial-box text-center">
                <div class="testi-box">
                   <img class="rate" src="https://res.cloudinary.com/smmcpan2/image/upload/v1636058162/yisil85.png" alt="ratting">
                   <p>افضل موقع زيادة متابعين انستقرام, شكرا على خدماتكم الاكثر من رائعة.</p>
                </div>
                <div class="author">
                   <img class="author-pic" src="https://res.cloudinary.com/smmcpan2/image/upload/v1636058061/bjf6647xq89s330r.png" alt="author-pic">
                   <h4>محمد الجندي</h4>
                </div>
             </div>
          </div>
          <div>
             <div class="testimonial-box text-center">
                <div class="testi-box">
                   <img class="rate" src="https://res.cloudinary.com/smmcpan2/image/upload/v1636058162/yisil85.png" alt="ratting">
                   <p>افضل موقع زيادة متابعين انستقرام, شكرا على خدماتكم الاكثر من رائعة.</p>
                </div>
                <div class="author">
                   <img class="author-pic" src="https://res.cloudinary.com/smmcpan2/image/upload/v1636058061/bjf6647xq89s330r.png" alt="author-pic">
                   <h4>محمد الجندي</h4>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section> -->
<script src="<%- host %>js/assets/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


     <script>
      $('.single-item').slick({
        rtl: true,   
         dots: false,
        arrows: false,
        autoplay:true,
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        speed: 500,
        adaptiveHeight: true
      });
    </script>
 

 