<!DOCTYPE html>
<html>
  <head>
    <title>Buy Products</title>
    <link rel="stylesheet" href="<%- host %>/style.css">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="container" >
      <div class="product">
        <img
          src="https://nay9ca.com/uploads/varieties/varieties_f930f736-4124-445a-b52d-5c96607bda1e.jpeg"
          alt="iphone 12"
          class="product_img"
        />
        <div class="description">
          <h3><%- product.name %></h3>
          <h4>$ <%- product.price %></h4>
        </div>
        <button type="button" id="btn">BUY</button>
      </div>
  </body>
  <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51KqQkpHP7Scq2xyIYFoMD9eZY4kDHdzr6RgmoSNn5GKnamMhiOpMS8OGi1QQigi7IZKPEW2nQvAxI79kFsuU1Vzb0075TkikKO");
    //pk_test_51KqQkpHP7Scq2xyIum4ojExcS8YuW46K9UawqSxo3TmQVfo5G7kPnyACFOygXlZdZxX2MB1OMg7WCJWaab0XFlqQ00mK8I7vaA
    
   /* var checkoutButton = document.getElementById("btn");
    checkoutButton.addEventListener("click", function () {
      fetch("/payment", {
        headers: {'Content-Type': 'application/json'},
        method: "POST",
        body: JSON.stringify({
            "product": {
                "name": "iPhone 12", 
                "amount": 1,
                "quantity": 1
            }})
            /*
                "image": "https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-purple-select-2021?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1617130317000", 
            * /
      })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
    });*/
    var url = window.location.pathname;
      url = url.split('/')[2]
    fetch("/payment", {
        headers: {'Content-Type': 'application/json'},
        method: "POST",
        body: JSON.stringify({
            "product": {
                "name": '<%- product.name %>', 
                "amount": '<%- product.price %>',
                "quantity": 1,
                "transactionId": url,
            }})
            /*
                "image": "https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-purple-select-2021?wid=470&hei=556&fmt=jpeg&qlt=95&.v=1617130317000", 
            */
      })
      .then(function (response) {
        return response.json();
      })
      .then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
      })
      .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
          alert(result.error.message);
        }
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
      
      //console.log(url)
  </script>
</html>